<% content_for :title, 'ООО «Капиталстрой» - О нас' %>
<%= render partial: 'application/header', locals: {back: true}%>
<section class="page" id="page">
  <div class="content">
    <h1>О НАС</h1>
	<h3>ООО «Капиталстрой»</h3>
<p>ООО «Капиталстрой» достаточно молодая и динамично развивающиеся строительная
организация, созданная в 1997 году и насчитывающей на тот период всего 13 человек.
Сегодня в организации около двухсот классных специалистов, способных справиться с
самыми сложными задачами. </p>
<div class="content2">
<p>«Капиталстрой» за более чем двадцати лет своей деятельности завоевал высокую деловую репутацию и прочно
строительном рынке Липецкой области. Это подтверждают многочисленные почетные
грамоты и благодарности от руководства области, города, администраций районов,
почетными грамотами Министерства регионального развития РФ, Министерства
внутренних дел РФ, министерства энергетики РФ, которые вместе с фотографиями
построенных и реконструированных объектов разместились на стенах в кабинете
генерального директора. О росте авторитета строительной организации говорит и тот факт, что она
достаточно давно и плодотворно сотрудничает с ПАО НЛМК, выполняя на комбинате
работы по ремонту и реконструкции зданий и сооружений, участвовала в строительстве
доменной печи № 7, с каждым годом увеличивая объемы выполняемых работ.</p>
<p>Среди заказчиков ООО «Капиталстрой»: ОБУ «УКС Липецкой области», «УС г.
Липецка», АО «ЛГЭК», Пенсионный фонд, ГУ Центрального банка, «Внешторгбанк»,
«Липецкоблгаз», администрации Чаплыгинского, Задонского, Усманского, Добровского,
Грязинского районов Липецкой области.</p>
<p>Компания построила такие социально значимые объекты, как здания
Роспотребнадзора на улице Гагарина в г. Липецке и аварийно – диспетчерской службы
«Липецкоблгаз», отделения Пенсионного фонда в Задонске и Лебедяни. В рамках целевой
программы «Развитие дошкольного, общего и дополнительного образования детей»
«Капиталстрой» сдал под «ключ» школу на 250 мест в селе Девица Усманского района,
школу на 800 учащихся в 28 микрорайоне Липецка, детские сады в поселке Матырский и
селе Сенцово, проведена реконструкция под дошкольные учреждения школ № 71 и № 51
в городе Липецке. За последние четыре года построены дома культуры в селах Порой
Добровского района, Донское Задонского района, Сторожевые Хутора Усманского
района, селе Казинка Грязинского района. Предмет гордости строителей – областной Дом
культуры и народного творчества, при ремонте которого использовалось эксклюзивное
стеновое покрытие, стекло и гранит.</p>
<p>Следует особо отметить реализацию проекта по строительству Центра культуры в
городе Грязи. Это красивое современное здание, общей площадью более 15 тысяч
квадратных метров, с многофункциональным зрительным залом на 500 мест, спортзалом,
помещениями для занятий вокалом, игрой на музыкальных инструментах, кружковой
работы, а также кафе, музеем, звукозаписывающей студий и районной библиотекой,
стало украшением и достопримечательностью города.</p>
<p>Важным направлением в работе компании является – строительство, ремонт и
реконструкция объектов здравоохранения области. Среди них – областная клиническая
больница,
областная
детская
больница,
городская
психоневрологический диспансер, построены детское отделение и лабораторный корпус
областного противотуберкулезного диспансера.</p>
<p>В рамках программы модернизации здравоохранения была произведена
реконструкция помещений радиологического корпуса областного онкологического
диспансера, областной больницы № 2 и городской детской больницы на улице Ленина.
«Капиталстрой» построила бассейны «Лазурный» в г. Чаплыгине, «Олимпийский»
в г. Усмань, «Юность» в Добром , «Матырский» в поселке Матырский, а так же два 25 –
метровых школьных бассейна в микрорайоне «Елецкий» и городе Задонск с
современными инженерными сооружениями и новейшим оборудованием для
водоподготовки.</p>
</div>
  </div>
</section>
<%= render partial: 'application/footer', locals: {back: true}%>